:root {
  /* Typography */
  --font-family: "Inter", sans-serif;
  --font-size-base: clamp(1rem, 1.3vw, 1.1rem);
  --h1: 800 clamp(1rem, 1.8vw, 1.5rem) / 135% var(--font-family);
  --text-input: 600 var(--font-size-base) / 140% var(--font-family);
  --text: 400 var(--font-size-base) / 140% var(--font-family);
  --text-sm: 400 clamp(0.875rem, 1.1vw, 1rem) / 160% var(--font-family);

  /* Cores padrão */
  --bg-color: #0088cc;
  --text-color: #333;

  /* Logo padrão */
  --logo: url(../assets/logos/unipro.png);
}

/* Temas por Filial */
.arcacenter {
  --bg-color: #c60c30;
  --logo: url(../assets/logos/arcacenter.png);
}

.univer {
  --bg-color: #04233b;
  --logo: url(../assets/logos/univer.png);
}

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color) transparent;
  transition: scrollbar-color 0.5s;
}

body {
  height: 100vh;
  color: var(--text-color);
  font: var(--text);
  overflow: hidden;
  font-optical-sizing: auto;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

button,
input,
input:focus-visible,
input::selection {
  border: none;
  outline: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

/* Header */
header {
  width: 100%;
  height: 70px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color);
  transition: background 0.5s;

  .logo {
    width: 150px;
    height: 50px;
    background: var(--logo) no-repeat left center / contain;
  }

  #theme-list {
    select#theme {
      width: 170px;
      height: 50px;
      background: transparent;
      padding-inline: 16px;
      border: 1px solid white;
      border-radius: 16px;
      font: var(--text-input);
      text-transform: uppercase;
      color: #fff;

      option {
        color: #333;
      }
    }
  }
}

/* Main layout */
main {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "sorteador lista";
  place-items: center;
  margin-block: 32px;

  .content:first-child {
    margin-bottom: 32px;
  }

  .content,
  .list-name {
    border: 1px solid var(--bg-color);
    transition: border-color 0.5s;

    padding-inline: 16px;
    margin-inline: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 550px;
    padding-block: 24px;

    h1 {
      font: var(--h1);
      text-align: center;
      padding-bottom: 16px;
    }

    span {
      text-align: center;
    }
  }

  .sorteador {
    grid-area: sorteador;

    .content {
      padding-block: 32px;
      height: 359px;

      input {
        width: 100%;
        height: 50px;
        padding-inline: 16px;
        border: 1px solid;
        border-radius: 16px;
        font: var(--text-input);
        text-transform: uppercase;
        color: #333;
        border: 1px solid var(--bg-color);
        transition: border-color 0.5s;
      }

      #arquivoInput {
        display: none;
      }

      button {
        height: 70px;
        padding: 8px;
        border-radius: 16px;
        background: var(--bg-color);
        color: #fff;
        font: var(--text-input);
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          opacity: 0.85;
        }
      }

      .btn-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 24px;

        button {
          width: 120px;
        }
      }
    }
  }

  .sortear-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: calc(100% - 135px);
    }

    input[type="number"] {
      width: 100px;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  /* Modal Overlay */
  .modal {
    display: none; /* começa oculto */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }

  /* Conteúdo do Modal */
  .modal-content {
    position: relative;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.5s ease;
  }

  .modal-content h2 {
    font: var(--h1);
    margin-bottom: 16px;
  }

  .modal-content p {
    font: var(--h1);
  }
  /* Botão de fechar */
  .close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 32px;
    color: #333;
    cursor: pointer;
  }

  /* Animações */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  ul {
    overflow-y: auto;
    list-style: none;
  }

  .lista-vazia {
    display: none;
    color: #333;
    text-align: center;
    font: var(--text-sm);
  }

  ul#listaNomes,
  ul#ultimosSorteadosLista {
    li:last-child {
      margin-bottom: 16px;
      border-bottom: 0;
    }

    li {
      padding-block: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      border-bottom: 1px solid var(--bg-color);

      .btnExcluir {
        width: 30px;
        height: 30px;
        background: transparent url(../assets/icons/delete.svg) no-repeat left
          center / contain;
        transition: background 0.5s;

        &:hover {
          cursor: pointer;
          background: url(../assets/icons/delete_hover.svg) no-repeat left
            center / contain;
        }
      }
    }
  }

  #ultimosSorteadosLista {
    height: 250px;
  }

  .list-name {
    grid-area: lista;
    height: 750px;

    ul {
      height: 640px;
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  right: 16px;
  font-size: 12px;
  text-align: right;

  a {
    color: #333;
  }
}

@media screen and (max-width: 1200px) {
  body {
    overflow: auto;
  }
  main {
    margin-inline: auto;
    grid-template-areas:
      "sorteador "
      "lista"
      "footer";
    row-gap: 32px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    margin-bottom: 32px;
  }

}

@media screen and (max-width: 768px) {
  :root{
    --font-size-base: clamp(.9rem, 1.2vw, 1rem);
  }
  main {
    .content,
    .list-name {
      max-width: 30rem;
    }

    .sorteador {
      .content {
        .btn-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-block: 24px;

          button {
            width: 6rem;
            font: var(--text-input);
          }
        }
      }
    }
  }
}
